{% extends "bot/base.html" %}
{% block title %}Добавить пользователя{% endblock%}
{% block body %}
    <h1>Добавить пользователя</h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="POST" style="max-width: 300px">
        {% csrf_token %}
        <div class=" mb-3">
                <label for="telegram_id" class="form-label">Telegram ID:</label><br>
                <input type="text" id="telegram_id" name="telegram_id" class="form-control" required>
        </div>
        <div class="mb-3">
                <label for="full_name" class="form-label">ФИО:</label><br>
                <input type="text" id="full_name" name="full_name" class="form-control"  required>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Добавить">
    </form>
{% endblock %}



